html {
	min-height: 100%;
}

body {
	margin: 1em;
	padding: 1em;
	font-family: sans-serif;
	background-color: #95e8f3;
	min-height: 100%;
}

.rowBox {
	border: solid 1px rgba(0, 0, 0, 0.38);
	font-family: Times New Roman, Times, serif;
	font-weight: bold;
}

.prevRow {
	padding: 0.5em;
	font-size: 1em;
	opacity: 0.5;
}

.currentRow {
	padding: 0.5em;
	font-size: 1.5em;
}

.nextRow {
	padding: 0.5em;
	font-size: 1em;
	opacity: 0.5;
}

.word {
	padding: 3px;
	margin: 3px;
}

.input {
	font-size: 1.5em;
	width: 30%;
}

.refresh-button {
	max-height: 1.5em;
}

.highlight {
	background: lightgrey;
}

.correct {
	color: green;
}

.wrong {
	color: red;
}

.timer {
	background: #3c4d5c;
	color: white;
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 0.85em;
}
