html{
  min-height: 100%;
}

body {
  margin: 1em;
  padding: 1em;
  font-family: sans-serif;
  background-color: #95e8f3;
  min-height: 100%;
}

/* form{
  padding: 3em;
  margin: 7em;
} */

/* form button, form h5{
  margin: 1em 0;
} */

/* input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
} */
